body.dark {
  background-color: $dark--mode-bg;
  nav {
    background-color: $dark--mode;
    height: 80px;
    a.nav-link {
      color: $light--mode !important;

      i.light {
        display: none;
      }
      i.dark {
        display: inline-block;
      }
    }
  }
  .shadow {
    box-shadow: 0 2px 10px 8px hsla(200, 15%, 8%, 0.1) !important;
  }

  .dropdown {
    &-menu {
      @extend %inputDarkMode;
    }
    &-item {
      @extend %inputDarkMode;

      &:hover {
        background-color: $light--mode;
        color: $body--copy;
      }
    }
  }
  .container {
    form {
      .input-group {
        &-text {
          @extend %inputDarkMode;
        }
      }
      input::placeholder {
        color: $light--mode;
      }
      .form-control {
        @extend %inputDarkMode;
      }
    }
    section {
      .card {
        @extend %inputDarkMode;
      }
    }
    .error {
      color: $light--mode;
    }
  }
}
