body {
  &.light {
    background-color: $light--mode-bg;
    .container {
      .button {
        background-color: $light--mode;
        border: none;
        cursor: pointer;
        height: 35px;
        &__back {
          // background-image: linear-gradient(
          //   to right,
          //   #364c5e,
          //   #304454,
          //   #2b3c4a,
          //   #253440,
          //   #202c37
          // );
          background-color: $dark--mode-bg;
          border-radius: 6px;
          color: $light--mode;
          height: 45px;
          width: 135px;
          user-select: none;
        }
      }

      img {
        padding: 0;
        height: 50%;
        width: 90%;
      }

      .country-details {
        font-size: 1.125rem;
        line-height: 1.7;
        user-select: none;

        &.details {
          &__title {
            font-size: 2.5rem;
            font-weight: 800;
            margin-bottom: 1rem;
          }
          &__contents {
            margin: 1rem 0 1.5rem;
          }

          .button {
            &__border {
              margin: 1rem 0.5rem;
              padding: 0 1rem;
            }
          }
          strong {
            letter-spacing: 1.4px;
          }
        }
      }
    }
  }

  &.dark {
    background-color: $dark--mode-bg;
    color: $light--mode;
    nav {
      background-color: $dark--mode;
      height: 80px;
      a.nav-link {
        color: $light--mode !important;

        i.light {
          display: none;
        }
        i.dark {
          display: inline-block;
        }
      }
    }
    // Shadow for dark-mode
    .shadow {
      box-shadow: 0 2px 6px 6px hsla(207, 26%, 17%, 0.4) !important;
    }
    .dropdown {
      &-menu {
        @extend %inputDarkMode;
      }
      &-item {
        @extend %inputDarkMode;

        &:hover {
          background-color: $light--mode;
          color: $body--copy;
        }
      }
    }

    .container {
      form {
        .input-group {
          &-text {
            @extend %inputDarkMode;
          }
        }
        input::placeholder {
          color: $light--mode;
        }
        .form-control {
          @extend %inputDarkMode;
        }

        .dropdown {
          font-weight: 600;

          &-menu {
            border: transparent;
            margin: 0.5rem 0 0;
          }

          &-item {
            border: transparent;
            padding: 0.75rem;
            font-size: 1.125rem;
            font-weight: inherit;

            &:hover {
              background-color: $light--mode-bg !important;
              color: $body--copy !important;
            }
          }
        }
      }
      section {
        .card {
          @extend %inputDarkMode;
        }
      }
      .error {
        color: $light--mode;
      }

      .button {
        &__back {
          // background-image: linear-gradient(
          //   to right,
          //   #fbfbfb,
          //   #f4f2f9,
          //   #efe8f6,
          //   #ebdef2,
          //   #e9d4ed
          // );
          background-color: $light--mode-bg;
          color: $body--copy;
        }
      }

      ul.pagination {
        background-color: $dark--mode-bg;
        .page-item {
          &.prev {
            .page-link {
              background-color: $dark--mode;
              color: $light--mode !important;
              // color: $body--copy !important;
            }
          }
          .page-link {
            // background-image: linear-gradient(
            //   to right,
            //   #fbfbfb,
            //   #f4f2f9,
            //   #efe8f6,
            //   #ebdef2,
            //   #e9d4ed
            // ) !important;
            background-color: $light--mode;
            color: $body--copy !important;
          }
        }
      }
    }
  }
}
