body {
  &.light {
    background-color: $light--mode-bg;
    .container {
      .button {
        background-color: $light--mode;
        border: none;
        cursor: pointer;
        height: 35px;
        &__back {
          background-image: linear-gradient(
            to right,
            #364c5e,
            #304454,
            #2b3c4a,
            #253440,
            #202c37
          );
          border-radius: 6px;
          color: $light--mode;
          height: 45px;
          width: 135px;
          user-select: none;
        }
      }

      img {
        padding: 0;
        height: 50%;
        width: 90%;
      }

      .country-details {
        font-size: 1.125rem;
        line-height: 1.7;
        user-select: none;

        &.details {
          &__title {
            font-size: 2.5rem;
            font-weight: 800;
            margin-bottom: 1rem;
          }
          &__contents {
            margin: 1rem 0 1.5rem;
          }

          .button {
            &__border {
              margin: 1rem 0.5rem;
              padding: 0 1rem;
            }
          }
          strong {
            letter-spacing: 1.4px;
          }
        }
      }
    }
  }
  &.dark {
    background-color: $dark--mode-bg;
    color: $light--mode;

    .container {
      .button {
        &__back {
          background-image: linear-gradient(
            to right,
            #fbfbfb,
            #f4f2f9,
            #efe8f6,
            #ebdef2,
            #e9d4ed
          );
          color: $body--copy;
        }
      }
    }
  }
}
