// Variables
$light--mode: hsl(0, 0%, 100%);
$light--mode-bg: hsl(0, 0%, 98%);
$dark--mode: hsl(209, 23%, 22%);
$dark--mode-bg: hsl(207, 26%, 17%);
$body--copy: hsl(200, 15%, 8%);
$form--inputs: hsl(0, 0%, 52%);
